.itinerary--greece, .itinerary--hawaii, .itinerary--iceland {
    margin-top: 4rem;
    padding: 5vw;
}
.itinerary--greece {
    background: url(../assets/images/greece.jpg) center/cover no-repeat;
}
.itinerary--hawaii {
    background: url(../assets/images/hawaii.jpg) center/cover no-repeat;
}
.itinerary--iceland {
    background: url(../assets/images/iceland.jpg) center/cover no-repeat;
}
.itinerary__date--container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 8vw;
}
.itinerary__title {
    padding-bottom: 5vw;
    font-size: 4rem;
    color: #FFFFFF;
}
.itinerary__date {
    height: 20rem;
    width: 18vw;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}
.itinerary__date--title {
    color: #000000;
    border-bottom: 0.125rem solid #000000;
    text-align: center;
    margin-bottom: 2rem;
}
.itinerary__date--list-item {
    background-color: #FEFAF5;
    padding: 0.5rem 0;
    margin: 1rem 0;
    text-align: center;
}