h1, p, label {
    color: #FFFFFF;
}
.form {
    display: flex;
    justify-content: center;
    background-color: #335576;
    height: 60vh;
    padding: 5vw;
    margin-top: 4rem;
}
.form__container, .form__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 50vw;
}
.form__title, .form__desc, .form--input {
    margin-bottom: 1rem;
    text-align: center;
}
#submit {
    color: #FFFFFF;
    background-color: #DB7A4E;
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 3rem;
    transition: transform 0.2s;
}
#submit:hover {
    transform: scale(1.2);
}