/* Global Styling*/
body {
    margin: 0;
}
h1, h3, h5, p, a {
    font-family: "Verdana", sans-serif;
    margin: 0;
}
h1, h3, p, a {
    color: #335576;
}
h1 {
    font-size: 2.5rem;
}
h5 {
    text-transform: uppercase;
    color: #DB7A4E;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}

/* Header */
.header, .header__list {
    display: flex; 
}
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: baseline;
}
.header__title {
    padding-left: 5vw;
}
.header__list {
    align-items: flex-start;
    padding-right: 5vw;
}
.header__list--link {
    margin-right: 1.25rem;
    padding-bottom: 0.5rem;
}
.active-link {
    border-bottom: 0.25rem solid #DB7A4E;
}
/* Footer */
.footer, .footer__hours--container {
    display: flex;
    justify-content: space-between;
}
.footer {
    padding: 3rem 15vw;
    background: #FEFAF5;
}
.footer__hours--container {
    align-items: flex-start;
}
.footer__hours--date {
    margin-right: 2rem;
}
.footer__section--title {
    margin-bottom: 3rem;
}
.footer__section--text {
    margin-top: 1rem;
}
a.footer__section--text {
    display: inline-block;
}
.footer__section--icon {
    min-width: 1rem;
    max-width: 2rem;
    min-height: 1rem;
    max-height: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}
