/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFAF5;
    padding: 5vw;
    margin-top: 4rem;
}
.hero__container {
    width: 50vw;
}
.hero__image {
    min-width: 30vw;
    max-width: 33vw;
}
.hero__text {
    margin: 1.25rem 0 1.75rem ;
}
.hero__button {
    position: relative;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #DB7A4E;
    padding: 0.5rem 1.25rem;
    border-radius: 3rem;
    transition: transform 0.2s;
}
.hero__button:hover {
    transform: scale(1.2);
}

/* Recommendations */
.recommendations {
    padding: 3rem 0;
}
.recommendations__title {
    margin-left: 5vw;
    margin-bottom: 2rem;
}
.recommendations__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw;
}
.recommendations__card--title {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color:#FFFFFF;
}
.recommendations__card {
    position: relative;
    height: 30rem;
    width: 20vw;
    border: 0.0625rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3125rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.recommendations__card:hover {
    transform: scale(1.1);
}
#greece {
    background: url("../assets/images/greece.jpg") center no-repeat;
}
#hawaii {
    background: url("../assets/images/hawaii.jpg") center no-repeat;
}
#iceland {
    background: url("../assets/images/iceland.jpg") center no-repeat;
}
#greece, #hawaii, #iceland {
    background-size: auto 30rem;
}
